{% extends 'base1.html' %}

{% block title %}Quizzy {% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to the Quiz App</h1>
    <p class="text-center">Get ready to test your knowledge!</p>

    <h2 class="text-center">Available Quizzes</h2>
    <ul class="list-group">
        {% for quiz in quiz %}
        <li class="list-group-item">
            <strong>Chapter:</strong> {{ quiz.chapter_id }} | 
            <strong>{{ quiz.name }}</strong> | 
            <strong>Date:</strong> {{ quiz.date_of_quiz }} | 
            <strong>Duration:</strong> {{ quiz.time_duration }} mins | 
            <strong>Remarks:</strong> {{ quiz.remarks }} | 
            <a class="btn btn-primary btn-sm float-end" href="{{ url_for('take_quiz', quiz_id=quiz.id) }}">Start Quiz</a>
        </li>
        {% else %}
            <li class="list-group-item">No quizzes available at the moment.</li>
        {% endfor %}
    </ul>
{% endblock %}